<!DOCTYPE html>
<html>
<head>
	<title>Team Retrospective</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
	<meta name="keywords" content="agile,retro,retrospective,board,team,building,tool"/>
	<meta name="description"
		  content="This is an online retrospective board, which enables distributed teams to retrospective just like being co-located."/>
          <!--base href="http://" target="#"-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.min.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/global.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/board.css"/>
	<script type="text/javascript" src="/javascripts/libs/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="/javascripts/libs/jquery-ui-1.9.0.custom.min.js"></script>
	<script type="text/javascript" src="/javascripts/libs/jquery.json-2.3.min.js"></script>
	<script type="text/javascript" src="/javascripts/libs/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/libs/underscore-1.3.3-min.js"></script>
	<script type="text/javascript" src="/javascripts/libs/backbone-min.js"></script>
    <script type="text/javascript" src="/javascripts/libs/uuid.min.js"></script>
	<script  type="text/javascript">
		window.App={}
		window.retroId = "<%= params[:retrospectiveId] %>"
		window.option = {'serverHost': '<%= request.host %>', 'serverPort': '<%= request.port %>'}
        window.UUID = uuid.noConflict();
	</script>

	<script type="text/javascript" src="/javascripts/connection.js"></script>
	<script type="text/javascript" src="/javascripts/listener.js"></script>
	<script type="text/javascript" src="/javascripts/sticky.js"></script>
	<script type="text/javascript" src="/javascripts/section.js"></script>
	<script type="text/javascript" src="/javascripts/history.js"></script>
	<script type="text/javascript" src="/javascripts/board.js"></script>
</head>
<body>
	<header>
		<div class="page-header clearfix">
			<h1 class="brand">&nbsp;Retrospective&nbsp;<small>Build and Improve Team Continuously</small></h1>
		</div>
	</header>

	<div class="content">
        <!--nav class="title">
            xxx
        </nav-->
		<article id="sections" class="row-fluid">
		</article>
	</div>
    
    <div id="messageContainer" class="message-container navbar-fixed-bottom">
    </div>
    
    <footer>
    	<div class="footer">
    		<small>&copy; 2012 Team-Cares</small>
    	</div>
    </footer>

	<div class="modal hide fade in" id="modal" tabindex="-1" role="dialog" aria-hidden="true" style="width: 480px; background-color: transparent; border: 0px; border-radius:0px; box-shadow:none;">
		<div id="stickyDialog">
			<textarea></textarea>
            <div>You can input <span class="input-count">140</span> more letters.</div>
			<div class="buttons">
                <button type="image" value="Cancel" class="btn cancelButton" data-dismiss="modal" aria-hidden="true">Cancel</button>
				<button type="image" value="OK" class="btn okButton btn-success" data-dismiss="modal" aria-hidden="true">OK</button>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/javascripts/message.js"></script>
<script type="text/javascript" src="/javascripts/dialog.js"></script>
<script type="text/javascript" src="/javascripts/retroad.view.js"></script>
<script type="text/javascript" charset="utf-8">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36103389-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>
