<!DOCTYPE html>
<html>
<head>
    <title>Team Retrospective</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta name="keywords" content="agile,retro,retrospective,board,team,building,tool"/>
    <meta name="description"
          content="This is an online retrospective board, which enables distributed teams to organize retrospectives just like they are co-located."/>
    <link rel="stylesheet" type="text/css" href="css/global.css"/>
    <link rel="stylesheet" type="text/css" href="css/board.css"/>

    <script type="text/javascript" src="javascripts/webSocket.js"></script>
    <script type="text/javascript" src="javascripts/libs/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="javascripts/sticky.js"></script>
    <script type="text/javascript" src="javascripts/history.js"></script>
    <script type="text/javascript" src="javascripts/boardView.js"></script>

</head>
<body>
<div class="wrap">
<header>
    <div class="headerWrap clearFloat">
        <img id="logo" src="/images/logo.jpg"/>
        <h2>Team Retro</h2>
        <h3><a href="/<%=params[:team]%>/profile"><%=params[:team]%></a></h3>
        <span class="separator">|</span>
        <a href="#">Create</a>
        <a href="#">Export</a>
        <span class="separator">|</span>
        <a href="#">Group</a>
        <a href="#">Vote</a>
        <a href="#">Action</a>
        <a href="#">Complete</a>
        <span class="separator">|</span>
        <a href="#" id="historyHeaderButton">
            <span>
                History
            </span>
        </a>
        <div id="historyDialog">
            <ul>
                <li>
                    <a href="#">Sprint1</a>
                </li>
                <li>
                    <a href="#">Sprint2</a>
                </li>
                <li>
                    <a href="#">Sprint3</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<article id="walls">
<section class="wall" id="well">
    <div class="wallHeader">
        <h3>WELL</h3>

        <div class="addStickyButton"></div>
    </div>
    <div class="wallBody">
        <div class="sticky">
            <div class="stickyText">
                Some info
            </div>
            <div class="stickyCount">
                +0
            </div>
        </div>
        <div class="sticky">
            <div class="stickyText">
                Some info
            </div>
            <div class="stickyCount">
                +0
            </div>
        </div>
        <div class="sticky">
            <div class="stickyText">
                Some info
            </div>
            <div class="stickyCount">
                +0
            </div>
        </div>
        <div class="sticky">
            <div class="stickyText">
                Some info
            </div>
            <div class="stickyCount">
                +0
            </div>
        </div>
        <div class="sticky">
            <div class="stickyText">
                Some info
            </div>
            <div class="stickyCount">
                +0
            </div>
        </div>
        <div class="sticky">
            <div class="stickyText">
                Some info
            </div>
            <div class="stickyCount">
                +0
            </div>
        </div>
    </div>
</section>
<section class="wall" id="lessWell">
    <div class="wallHeader">
        <h3>LESS WELL</h3>

        <div class="addStickyButton"></div>
    </div>
    <div class="wallBody">
        <div class="sticky">
            <div class="stickyText">
                Some info
            </div>
            <div class="stickyCount">
                +0
            </div>
        </div>
        <div class="sticky">
            <div class="stickyText">
                Some info
            </div>
            <div class="stickyCount">
                +0
            </div>
        </div>
        <div class="sticky">
            <div class="stickyText">
                Some info
            </div>
            <div class="stickyCount">
                +0
            </div>
        </div>
        <div class="sticky">
            <div class="stickyText">
                Some info
            </div>
            <div class="stickyCount">
                +0
            </div>
        </div>
        <div class="sticky">
            <div class="stickyText">
                Some info
            </div>
            <div class="stickyCount">
                +0
            </div>
        </div>
        <div class="sticky">
            <div class="stickyText">
                Some info
            </div>
            <div class="stickyCount">
                +0
            </div>
        </div>
    </div>
</section>
<section class="wall" id="puzzle">
    <div class="wallHeader">
        <h3>PUZZLE</h3>

        <div class="addStickyButton"></div>
    </div>
    <div class="wallBody">
        <div class="sticky">
            <div class="stickyText">
                Some info
            </div>
            <div class="stickyCount">
                +0
            </div>
        </div>
        <div class="sticky">
            <div class="stickyText">
                Some info
            </div>
            <div class="stickyCount">
                +0
            </div>
        </div>
        <div class="sticky">
            <div class="stickyText">
                Some info
            </div>
            <div class="stickyCount">
                +0
            </div>
        </div>
        <div class="sticky">
            <div class="stickyText">
                Some info
            </div>
            <div class="stickyCount">
                +0
            </div>
        </div>
        <div class="sticky">
            <div class="stickyText">
                Some info
            </div>
            <div class="stickyCount">
                +0
            </div>
        </div>
        <div class="sticky">
            <div class="stickyText">
                Some info
            </div>
            <div class="stickyCount">
                +0
            </div>
        </div>
    </div>
</section>
<section class="wall" id="idea">
    <div class="wallHeader">
        <h3>IDEA</h3>

        <div class="addStickyButton"></div>
    </div>
    <div class="wallBody">
        <div class="sticky">
            <div class="stickyText">
                Some info
            </div>
            <div class="stickyCount">
                +0
            </div>
        </div>
        <div class="sticky">
            <div class="stickyText">
                Some info
            </div>
            <div class="stickyCount">
                +0
            </div>
        </div>
        <div class="sticky">
            <div class="stickyText">
                Some info
            </div>
            <div class="stickyCount">
                +0
            </div>
        </div>
        <div class="sticky">
            <div class="stickyText">
                Some info
            </div>
            <div class="stickyCount">
                +0
            </div>
        </div>
        <div class="sticky">
            <div class="stickyText">
                Some info
                asdfasfa sdfasdf asdfasd
            </div>
            <div class="stickyCount">
                +0
            </div>
        </div>
        <div class="sticky">
            <div class="stickyText">
                Some info
            </div>
            <div class="stickyCount">
                +0
            </div>
        </div>
    </div>
</section>
<div id="stickyDialog">
    <textarea></textarea>
    <div class="buttons">
        <button type="image" value="OK" class="okButton">OK</button>
        <button type="image" value="Cancel" class="cancelButton">Cancel</button>
    </div>
</div>
</article>
<footer>
    © 2011 Team-Cares
</footer>
</div>
<div id="modal"></div>
</body>
</html>
