<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<meta http-equiv="content-language" content="en-US">
		<title>Join the Meeting | GoToMeeting</title>
		<link rel="stylesheet" href="/css/default.css" type="text/css">
		<!--[if lte IE 9]>
		<link rel="stylesheet" href="/fec/css/join/IE.css" type="text/css">
		<![endif]-->
	</head>
	<body >
		<header>
        	<div class="brand">
        		<a href="#">Team Retrospective</a>
        	</div>
        	<div class="tagline">
        		Online Agile Retrospective
        	</div>
        	<hr>
        </header>
		<div class="container">
			
    		<h1>Join the Retrospective</h1>
    		<section class="form">
    			<form action="/join" method="post">
    				<h2>To connect to an online meeting, enter the meeting ID provided by the meeting organizer.</h2>
    				<ul>
    					<li>
    						<label for="retrospectiveId">Retrospective ID</label>
    						<input type="text" name="retrospectiveId" id="retrospectiveId" class="required eventId" title="Please enter a valid Retrospective ID">
    					</li>
    					<li class="button">
    						<input type="submit" value="Continue">
    					</li>
    				</ul>
    				<div class="clearBoth"></div>
    			</form>
    		</section>
    		<nav>
    			<ul>
    				<li><a href="#" rel="external">Create a new retrospective</a></li>
    				<li><a href="#" rel="external">Contact Help</a></li>
    			</ul>
    		</nav>
    		<div class="clearBoth"></div>
		</div>
		<footer>
    		<hr>
    		<ul class="copyright">
    			<li>
    				&copy; 2012 Team-Care, LLC. All rights reserved. <a href="#" rel="popup">Privacy Policy</a>
    			</li>
    		</ul>
    		<div class="logo">
    			<a href="http://www.team-care.com" rel="external"><img src="/images/stickies_icon_32.png" alt="Team-Care"></a>
		</div>
    	</footer>
		<div id="lightbox-container"><div id="lightbox-border"></div></div>
    </body>
</html>