<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<meta http-equiv="content-language" content="en-US">
		<title>Join the Meeting | GoToMeeting</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/global.css"/>
        <link rel="stylesheet" type="text/css" href="/css/homepage.css"/>
	</head>
	<body>
		<header>
            <div class="page-header clearfix">
                <h1 class="brand">&nbsp;Retrospective&nbsp;<small>Build and Improve Team Continuously</small></h1>
            </div>
        </header>
		<div class="container">

            <div class="row">

                <div class="span6">
                    
                    <div class="sticky-sample"></div>

                </div>

        <div class="join span3">
            <h3>Join the Retrospective</h3>
            <section class="form">
                <form action="/join" method="post">
                    <h5>To join an online retrospective, enter the retrospective ID provided by the organizer.</h5>
                    <label for="retrospectiveId">Retrospective ID</label>
                    <input type="text" name="retrospectiveId" id="retrospectiveId" class="required eventId" title="Please enter a valid Retrospective ID">
                    <input type="submit" value="Continue" class="btn">
                </form>
            </section>
        </div>

            <div class="create span3">
                <section>
                <h5>Create an online retrospective for your team right now!</h5>
                <form action="/retrospectives" method="post">
                    <input type="hidden" name="_method" value="put" />
                    <input type="submit" value="Create a new retrospective" class="btn"></input>
                </form>
            </section>

            </div>

            </div>

            
			
		</div>
		<footer>
            <div class="footer">
                <small>&copy; 2012 Team-Cares</small>
            </div>
        </footer>
		<div id="lightbox-container"><div id="lightbox-border"></div></div>
    </body>
    <script type="text/javascript" charset="utf-8">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36103389-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</html>