<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<meta http-equiv="content-language" content="en-US">
		<title>Join the Meeting | GoToMeeting</title>
		<link rel="stylesheet" href="/css/default.css" type="text/css">
		<!--[if lte IE 9]>
		<link rel="stylesheet" href="/fec/css/join/IE.css" type="text/css">
		<![endif]-->
	</head>
	<body >
		<header>
        	<div class="brand">
        		<a href="#">Team Retrospective</a>
        	</div>
        	<div class="tagline">
        		Online Agile Retrospective
        	</div>
        	<hr>
        </header>
		<div class="container">
    		<h2>Your Retrospective ID is <%=@retrospectiveId%></h2>
            <%
            retro_url = "http://#{request.host}:#{request.port}/retrospectives/#{@retrospectiveId}"
            %>
            <h3>You can also follow the url (<a href="<%=retro_url%>" rel="this"><%=retro_url%></a>) to get to your Retrospective, Enjoy it!</h3> 
    		<div class="clearBoth"></div>
		</div>
		<footer>
    		<hr>
    		<ul class="copyright">
    			<li>
    				&copy; 2012 Team-Care, LLC. All rights reserved. <a href="#" rel="popup">Privacy Policy</a>
    			</li>
    		</ul>
    		<div class="logo">
    			<a href="http://www.team-care.com" rel="external"><img src="/images/stickies_icon_32.png" alt="Team-Care"></a>
		</div>
    	</footer>
		<div id="lightbox-container"><div id="lightbox-border"></div></div>
    </body>
    <script type="text/javascript" charset="utf-8">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36103389-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</html>