body {
    background: url(../images/low_contrast_linen.png) repeat left top;
}

@font-face {
    font-family: TwinMarker;
    src: url('../fonts/TwinMarker.ttf') format('truetype');
}

@font-face {
    font-family: Marydale;
    src: url('../fonts/Marydale.ttf') format('truetype');
}

@font-face {
    font-family: Andale_Mono;
    src: url('../fonts/Andale_Mono.ttf') format('truetype');
}

.content {
    margin: 0 20px;
}

header {
    margin-bottom: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#111));
    background: -moz-linear-gradient(top, #333, #111);
}

header .page-header {
    margin: 0 auto;
    width: 94%;
    border-bottom: 0px;
    padding-bottom: 2px;
    padding-top: 5px;
}

header #logo {
    float: left;
    height: 30px;
    width: auto;
    margin-right: 10px;
    margin-top: 5px;
}

header h1 {
    float: left;
    color: white;
    font-size: 24px;
    font-family: Marydale;
}

header small {
    font-size: 18px;
}

header a {
    color: #BABABA;
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}

header a:hover, #historyHeaderButton.active {
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#222));
}

#historyHeaderButton span {
    padding-right: 11px;
    background: url(/images/arrow-down.png) no-repeat center right;
}

#historyDialog {
    display: none;
    background-color: #121212;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 2;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 1px 2px #555;
}

#historyDialog ul {

}

#historyDialog ul li {
    list-style: none;
}

#historyDialog ul li a {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 26px;
}

#historyDialog ul li a:hover {
    background: #444;
}

#historyDialog ul li:last-child a {
    border-radius: 0 0 8px 8px;
}

header .separator {
    color: #545454;
}

.brand {
    background: url(../images/stickies_icon_32.png) no-repeat left center;
    padding-left: 30px;
    margin: 0;
}

.title {
    border-radius: 5px 5px 0px 0px;
    height: 26px;
    line-height: 24px;
    font-size: 16px;
    background-color: grey;
    margin-left: 10px;
    width: 30%;
    text-align: center;
}

#sections {
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    background:url(../images/retina_dust.jpg) repeat left top;
}

#sections .section {
    /*border-left: 1px solid #CECEBF;*/
    min-height: 600px;
    padding: 10px;
    margin-left: 0;
    width: 25%;
}

#sections [class*="span"]:first-child{
    border-left: none;
}

.section-header {
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    border-bottom: 3px solid #666;
}

.section-header h3 {
    display: inline-block;
    line-height: 34px;
    padding-left: 36px;
    background-position: left top;
    background-repeat: no-repeat;
    font-family: Marydale;
}

#Well .section-header h3 {
    background-image: url(/images/face-well.png);
}

#LessWell .section-header h3 {
    background-image: url(/images/face-less-well.png);
}

#Puzzle .section-header h3 {
    background-image: url(/images/face-puzzle.png);
}

#Idea .section-header h3 {
    background-image: url(/images/face-idea.png);
}

.add-sticky {
    height: 36px;
    width: 36px;
    display: block;
    background-image: url(/images/add-sticky.png);
    background-position: 0 0;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
}

.add-sticky:hover {
    background-position: 0 -36px;
}

.section-body {
    text-align: left;
    width: 300px;
    margin: 0px auto;
}

.sticky {
    display: inline-block;
    margin-top: 5px;
    margin-left: 12px;
    /*background-color: #FEF791;*/
    vertical-align: top;
    position: relative;
    cursor: move;
}

.sticky-single {
    width: 130px;
}

.sticky-multi {
    width: 137px;
}

.sticky-single .sticky-header {
    background: transparent url(../images/sticky-single-bg.png) no-repeat right top;
    height: 5px;
    position: relative;
}

.sticky-multi .sticky-header {
    background: transparent url(../images/sticky-multi-bg.png) no-repeat right top;
    height: 12px;
    position: relative;
}

.sticky-multi .sticky-header s {
    width: 15px;
    height: 48px;
    position: absolute;
    background: transparent url(../images/sticky-clip.png) no-repeat left top;
    top: -5px;
    left: 4px;
}

.sticky .sticky-header .sticky-vote {
    top: -5px;
    position: absolute;
    left: 5px;
    padding: 2px 10px;
    font-size: 12px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.4);
    display: none;
}

.sticky:hover .sticky-vote {
    display: inline-block;
}


.sticky .sticky-header .like-count {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 22px;
    height: 22px;
    line-height: 21px;
    position: absolute;
    color: #006600;
    top: -5px;
    right: -5px;
    background: url(../images/sticky-count.png) no-repeat left top;
}

.sticky-single .sticky-body {
    padding: 5px 10px 5px 10px;
    background: transparent url(../images/sticky-single-bg.png) no-repeat right bottom;
    min-height: 100px
}



.sticky-multi .sticky-body {
    padding: 0px 10px 5px 15px;
    background: transparent url(../images/sticky-multi-bg.png) no-repeat right bottom;
    min-height: 100px
}

.sticky-body {
    word-wrap: break-word;
}

div.sticky-multi div.sticky-body span {
    display: block;
    padding: 2px 5px 5px 12px;
    background: transparent url(../images/sticky-bullet.png) no-repeat left 9px;
}


.stickyCount {
    position: absolute;
    bottom: 2%;
    left: 10%;
}

#stickyDialog {
    padding: 10px;
    /*background-color: #FEF791;*/
    /*border-radius: 20px 20px 30px 20px;*/
    /*box-shadow: -1px -1px 1px #666;*/
    background: transparent url(../images/sticky-bottom.png) no-repeat right bottom;
    z-index: 2;
}

#stickyDialog textarea {
    min-height: 120px;
    min-width: 440px;
    display: block;
    margin: 5px auto;
    background: none;
    border: none;
    line-height: 24px;
    font-size: 16px;
}

#stickyDialog textarea:focus {
    background-color: #FFFFAD;
}

.buttons {
    padding: 5px 15px 5px 0;
    text-align: right;
}

.buttons button {
    height: 30px;
    width: 60px;
    margin-left: 10px;
}

.message-container {
    
}

.message {
    text-align: right;
    font-size: 11px;
    padding: 3px 25px;
    float: right;
    color: #4AF310;
    font-family: Andale_Mono;
    background-image: -webkit-linear-gradient(top, #333, #111);
    background-image: -o-linear-gradient(top, #333, #111);
    background-image: -moz-linear-gradient(top, #333, #111);
    background-image: -linear-gradient(top, #333, #111);
    border-top-left-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.footer {
    text-align: center;
    width: auto;
    padding: 0 20px;
    line-height:60px;
    color: #ccc;
}
