body {
    background: url(../images/furley_bg.jpg) repeat left top;
    position: relative;
}

.content {
    margin: 0 20px;
}

#sections {
    margin-top:20px;
    min-height: 600px;
    /*border-radius: 5px;*/
}

#sections .section {
    min-height: 600px;
    padding: 15px;
    margin-left: 0;
    width: 25%;
}


#sections [class*="span"]:first-child{
    border-left: none;
}

.section-header {
    text-align: left;
    margin-bottom: 10px;
    padding-left: 16px;
    position: relative;
    background: url(../images/combo.png) no-repeat -299px 3px;
}

.section-header h3 {
    display: inline-block;
    line-height: 34px;
    padding-left: 36px;
    font-family: Marydale;
    font-weight: normal;
}

#Well .section-header h3 { background: url(../images/combo.png) no-repeat -304px -60px; }
#LessWell .section-header h3 { background: url(../images/combo.png) no-repeat -304px -120px; }
#Puzzle .section-header h3 { background: url(../images/combo.png) no-repeat -304px -180px; }
#Idea .section-header h3 { background: url(../images/combo.png) no-repeat -304px -240px; }

.add-sticker {
    height: 46px;
    width: 46px;
    display: block;
    background-image: url(../images/combo.png);
    background-position: -304px -300px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 145px;
}

.add-sticker:hover {
    background-position: -304px -360px;
}

.section-body {
    text-align: left;
    width: 300px;
    margin: 0px auto;
}

.sticker {
    display: inline-block;
    margin: 5px 0 5px 5px;
    /*background-color: #FEF791;*/
    vertical-align: top;
    position: relative;
    cursor: move;
}

.sticker-single {
    width: 140px;
}

.sticker-multi {
    width: 145px;
}

.sticker-single .sticker-header {
    height: 1px;
    position: relative;
}

.sticker-multi .sticker-header {
    background: transparent url(../images/combo.png) no-repeat 0 0;
    height: 12px;
    position: relative;
}

.sticker-multi .sticker-header s {
    width: 15px;
    height: 48px;
    position: absolute;
    background: transparent url(../images/combo.png) no-repeat -350px -300px;
    top: -5px;
    left: 4px;
}

.sticker .sticker-header .sticker-vote, .sticker .sticker-header .sticker-action-btn {
    position: absolute;
    padding: 1px 5px;
    font-size: 12px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.4);
    display: inline-block;
}

.sticker .sticker-header .sticker-vote {
    top: -5px;
    right: -5px;
    line-height: 20px;
}

.sticker .sticker-header .sticker-action-btn {
    left: 55px;
    top: -5px;
}

.sticker:hover .sticker-vote, .sticker:hover .sticker-action-btn {
    display: inline-block;
}


.sticker .sticker-header .like-count {
    padding-left: 2px;
    font-size: 14px;
    color: #fff;
}

.sticker-single .sticker-body {
    padding: 10px 25px 5px 15px;
    background: transparent url(../images/combo.png) no-repeat -145px bottom;
    min-height: 100px;
}



.sticker-multi .sticker-body {
    padding: 0px 25px 5px 15px;
    background: transparent url(../images/combo.png) no-repeat 0 bottom;
    min-height: 100px
}

.sticker-body {
    word-wrap: break-word;
}

.sticker-multi .sticker-body span {
    display: block;
    padding: 2px 5px 5px 12px;
    background: transparent url(../images/combo.png) no-repeat -304px -491px;
}

.sticker-action-group {
    position: absolute;
    left: 73px;
    top: 25px;
}

.sticker-action {
    background: url(../images/sticker-action-bg.png) no-repeat left bottom;
    width: 112px;
    min-height:14px;
    padding: 5px 10px 8px 10px;
}

#stickerDialog {
    padding: 10px;
    background-color: #FEF791;
    box-shadow: -1px -1px 1px #666;
    z-index: 2;
}

.modal {
    margin: -250px 0 0 -180px;
}

#stickerDialog textarea {
    min-height: 150px;
    min-width: 320px;
    display: block;
    margin: 5px auto;
    background: none;
    border: none;
    line-height: 24px;
    font-size: 16px;
}

#stickerDialog textarea:focus {
    background-color: #FFFFAD;
}

.buttons {
    padding: 5px 15px 5px 0;
    text-align: right;
    line-height: 30px;
}

.buttons button {
    height: 30px;
    width: 60px;
    margin-left: 10px;
}

.input-count {
    color: #666;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
}

.message-container {
    position: absolute;
    right: 18px;
    top: 5px;
}

/*.message {
    text-align: right;
    font-size: 11px;
    padding: 3px 10px 3px 15px;
    float: right;
    margin-right: 300px;
    color: #000;
    font-family: Andale_Mono;
    background-image: -webkit-linear-gradient(top, #f3f3f3, #ddd);
    background-image: -o-linear-gradient(top, #f3f3f3, #ddd);
    background-image: -moz-linear-gradient(top, #f3f3f3, #ddd);
    background-image: -linear-gradient(top, #f3f3f3, #ddd);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}*/


