body {
    background: url(../images/low_contrast_linen.png) repeat left top;
}

.content {
    margin: 0 20px;
}

#sections {
    margin-top:20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    background:url(../images/retina_dust.jpg) repeat left top;
}

#sections .section {
    /*border-left: 1px solid #CECEBF;*/
    min-height: 600px;
    padding: 10px;
    margin-left: 0;
    width: 25%;
}

#Well {
    background-color: rgba(255,255,255,.4);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#LessWell {
    background-color: rgba(255,255,255,.6);
}

#Idea {
    background-color: rgba(255,255,255,.4);
}

#Puzzle {
    background-color: rgba(255,255,255,.6);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}



#sections [class*="span"]:first-child{
    border-left: none;
}

.section-header {
    text-align: left;
    margin-bottom: 10px;
    padding-left: 16px;
    position: relative;
    background: url(/images/section-title-bg.png) no-repeat 5px center;
}

.section-header h3 {
    display: inline-block;
    line-height: 34px;
    padding-left: 36px;
    background-position: left top;
    background-repeat: no-repeat;
    font-family: Marydale;
    font-weight: normal;
}

#Well .section-header h3 {
    background-image: url(/images/face-well.png);
}

#LessWell .section-header h3 {
    background-image: url(/images/face-less-well.png);
}

#Puzzle .section-header h3 {
    background-image: url(/images/face-puzzle.png);
}

#Idea .section-header h3 {
    background-image: url(/images/face-idea.png);
}

.add-sticky {
    height: 36px;
    width: 36px;
    display: block;
    background-image: url(/images/add-sticky.png);
    background-position: 0 0;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
}

.add-sticky:hover {
    background-position: 0 -36px;
}

.section-body {
    text-align: left;
    width: 300px;
    margin: 0px auto;
}

.sticky {
    display: inline-block;
    margin-top: 5px;
    margin-left: 12px;
    /*background-color: #FEF791;*/
    vertical-align: top;
    position: relative;
    cursor: move;
}

.sticky-single {
    width: 130px;
}

.sticky-multi {
    width: 137px;
}

.sticky-single .sticky-header {
    background: transparent url(../images/sticky-single-bg.png) no-repeat right top;
    height: 5px;
    position: relative;
}

.sticky-multi .sticky-header {
    background: transparent url(../images/sticky-multi-bg.png) no-repeat right top;
    height: 12px;
    position: relative;
}

.sticky-multi .sticky-header s {
    width: 15px;
    height: 48px;
    position: absolute;
    background: transparent url(../images/sticky-clip.png) no-repeat left top;
    top: -5px;
    left: 4px;
}

.sticky .sticky-header .sticky-vote {
    top: -5px;
    position: absolute;
    left: 5px;
    padding: 2px 10px;
    font-size: 12px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.4);
    display: none;
}

.sticky:hover .sticky-vote {
    display: inline-block;
}


.sticky .sticky-header .like-count {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 22px;
    height: 22px;
    line-height: 21px;
    position: absolute;
    color: #006600;
    top: -5px;
    right: -5px;
    background: url(../images/sticky-count.png) no-repeat left top;
}

.sticky-single .sticky-body {
    padding: 5px 10px 5px 10px;
    background: transparent url(../images/sticky-single-bg.png) no-repeat right bottom;
    min-height: 100px
}



.sticky-multi .sticky-body {
    padding: 0px 10px 5px 15px;
    background: transparent url(../images/sticky-multi-bg.png) no-repeat right bottom;
    min-height: 100px
}

.sticky-body {
    word-wrap: break-word;
}

.sticky-multi .sticky-body span {
    display: block;
    padding: 2px 5px 5px 12px;
    background: transparent url(../images/sticky-bullet.png) no-repeat left 9px;
}

#stickyDialog {
    padding: 10px;
    /*background-color: #FEF791;*/
    /*border-radius: 20px 20px 30px 20px;*/
    /*box-shadow: -1px -1px 1px #666;*/
    background: transparent url(../images/sticky-bottom.png) no-repeat right bottom;
    z-index: 2;
}

#stickyDialog textarea {
    min-height: 120px;
    min-width: 440px;
    display: block;
    margin: 5px auto;
    background: none;
    border: none;
    line-height: 24px;
    font-size: 16px;
}

#stickyDialog textarea:focus {
    background-color: #FFFFAD;
}

.buttons {
    padding: 5px 15px 5px 0;
    text-align: right;
}

.buttons button {
    height: 30px;
    width: 60px;
    margin-left: 10px;
}

.message-container {
    
}

.message {
    text-align: right;
    font-size: 11px;
    padding: 3px 10px 3px 30px;
    float: right;
    color: #000;
    font-family: Andale_Mono;
    background-image: -webkit-linear-gradient(top, #f3f3f3, #ddd);
    background-image: -o-linear-gradient(top, #f3f3f3, #ddd);
    background-image: -moz-linear-gradient(top, #f3f3f3, #ddd);
    background-image: -linear-gradient(top, #f3f3f3, #ddd);
    border-top-left-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}


