* {
	padding: 0;
	margin: 0;
}

body {
    font: 13px/1.5 Helvetica Neue,Arial,Helvetica,sans-serif;
}

.hide {
    display: none;
}

@font-face {
    font-family: TwinMarker;
    src: url('../fonts/TwinMarker.ttf') format('truetype');
}

@font-face {
    font-family: Marydale;
    src: url('../fonts/Marydale.ttf') format('truetype');
}

@font-face {
    font-family: Andale_Mono;
    src: url('../fonts/Andale_Mono.ttf') format('truetype');
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

header {
    margin-bottom: 10px;
    /*background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#111));*/
    /*background: -moz-linear-gradient(top, #333, #111);*/
    background: url(../images/dark_wood.jpg) repeat-x left center;
    border-bottom: 2px solid #000;
    box-shadow: 0 1px 2px rgba(0,0,0,0.8);
}


header .page-header {
    margin: 0 auto;
    width: 94%;
    border-bottom: 0px;
    padding-bottom: 2px;
    padding-top: 5px;
}

header #logo {
    float: left;
    height: 30px;
    width: auto;
    margin-right: 10px;
    margin-top: 5px;
}

header h1 {
    float: left;
    color: white;
    font-size: 26px;
    font-family: Marydale;
}

header small {
    font-size: 16px;
}

header a {
    color: #BABABA;
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}

header a:hover, #historyHeaderButton.active {
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#222));
}

header .separator {
    color: #545454;
}

.glass {
    box-shadow: 0 1px 3px rgba(0,0,0,0.4), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 60px rgba(0,0,0,0.2);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(64,198,164, 0.2)), to(rgba(64,198,164, 0.15))), -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, .1)), color-stop(0.38, rgba(255, 255, 255, .6)), color-stop(0.38, rgba(0,0,0, 0)), color-stop(1, rgba(0,0,0, 0)));
    background: -moz-linear-gradient(center top , rgba(64,198,164, 0.2), rgba(64,198,164, 0.15)) repeat scroll 0 0%, -moz-linear-gradient(left top , rgba(255, 255, 255, .1), rgba(255, 255, 255, .6) 38%, rgba(0,0,0, 0) 38%, rgba(0,0,0, 0)) repeat scroll 0 0 transparent;
    background: linear-gradient(top, rgba(64, 198, 164, 0.2), rgba(64,198,164, 0.15)), linear-gradient(left top, rgba(255, 255, 255, .1), rgba(255, 255, 255, .6) 38%, rgba(0,0,0, 0) 38%, rgba(0,0,0, 0));
    border: 1px solid rgba(200, 200, 200, 0.1); 
    border-bottom: 1px solid rgba(100, 100, 100, 0.1); 
    position: relative;
}

.glass-pin {
    width: 14px;
    height: 14px;
    background: url(../images/combo.png) no-repeat -350px -360px;
    position: absolute;
}

.glass-pin-tl {top: 5px;left: 5px;}
.glass-pin-tr {top: 5px;right: 4px;}
.glass-pin-bl {bottom: 4px;left: 5px;}
.glass-pin-br {bottom: 4px;right: 4px;}


.brand {
    background: url(../images/combo.png) no-repeat -380px -294px;
    padding-left: 30px;
    margin: 0;
    font-weight: normal;
}

.title {
    border-radius: 5px 5px 0px 0px;
    height: 26px;
    line-height: 24px;
    font-size: 16px;
    background-color: grey;
    margin-left: 10px;
    width: 30%;
    text-align: center;
}

.footer {
    text-align: center;
    width: auto;
    padding: 0 20px;
    line-height:60px;
    color: #aaa;
}