body {
    background: url(../images/furley_bg.png) repeat left top;
}

.container {
    min-height: 500px;
    margin-top: 50px;
}

.home-actions hr {
    border-top: 1px solid #ccc;
    margin: 30px 0;
}

.sticky-sample {
    width: 400px;
    height: 400px;
    background: url(../images/sticky-sample.png) no-repeat center 20px;
}

.retro_url {
    font-size: 14px;
}

.retro_url .breadcrumb {
    font-size: 16px;
}

.retro_id {
    border-bottom: 1px dotted #666;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.retro_id h3 {
    font-size: 16px;
}

.retro_id span {
    color: #fc0;
    font-size: 20px;
    padding: 3px 10px;
}