* {
  padding: 0px;
}
body {
  width: 1002px;
  height: 600px;
  font: 13px/1.5 Helvetica Neue,Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: url("../images/front/bg.png") repeat-x scroll 0 0 #FFFFFF;
}
div#doc {
  background: url("../img/front/logo-map.png") no-repeat scroll center top transparent;
  min-width: 1000px;
  overflow: hidden;
}
div.left {
  float: left;
  position: relative;
}
div.right {
  float: right;
  position: relative;
}
div.clear {
  clear: both;
}
form .holding {
  overflow: visible;
  position: relative;
}
.front-page div.left-content {
  width: 550px;
}
.front-page div.left-content div{
  padding: 20px 0px;
}
.front-page div.right-content {
  width: 450px;
  text-align: left;
}
.front-page .front-signin {
  position: absolute;
  top: 30px;
}
.front-page .front-signup {
  position: absolute;
  top: 120px;
}
.front-page form .holding input {
  -moz-transition: opacity 1s ease 0s;
  background-color: white;
  border: medium none !important;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
  color: #567792;
  opacity: 0.7;
}
.front-page form .holding .holder {
  -moz-transition: opacity 0.1s ease 0s, font-size 0.1s ease 0s;
  color: #999999;
  cursor: text;
  left: 8px;
  position: absolute;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  white-space: nowrap;
  z-index: 1;
}

.front-page form.signin .holding input {
  padding: 6px;
  border-radius: 3px 3px 3px 3px;
  width: 200px;
}
.front-page form.signup .holding input {
  border-radius: 4px 4px 4px 4px;
  margin-bottom: 8px;
  opacity:1 !important;
  padding:9px 7px 10px;
  width:296px;
}
.front-page form.signin .holding input, .front-page form.signin .holding .holder {
  font:13px "Helvetica Neue",Arial,sans-serif;
  line-height: 33px;
}
.front-page form.signup .holding input, .front-page form.signup .holding .holder {
  font:15px "Helvetica Neue",Arial,sans-serif;
  line-height: 38px;
}
.front-signup h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3)
}
.front-page form .holding:hover input {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.3) inset;
  opacity: 0.9;
}
.front-page form .holding input:focus, .front-page form .holding input.focused, .front-page form .holding input.actasfocused {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 10px rgba(255, 255, 255, 0.9);
  opacity: 1;
  outline: medium none;
}
