wrap {
	min-width: 1000px;
    margin: 0 auto;
}
header {
    margin-bottom: 5px;
    height: 30px;
    padding: 5px 0;
    color: white;
    background: -webkit-gradient(linear,left top,left bottom,from(#333),to(#111));
    background: -moz-linear-gradient(top,#333,#111);
}
header div.header {
    text-align: right;
    margin: 0 auto;
    width: 1000px;
}
header div#logo {
	float: left;
	height: 30px;
}

header div#logo img {
  height: 100%;
  width: auto;
}

#walls {
	margin: 0 auto;
    width: 94%;
	text-align: center;
	border: 5px solid gray;
	border-radius: 10px;
}

.wall {
	width: 24%;
	height:600px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	display: inline-block;
	vertical-align: top;
}
.wallHeader{
	padding-top: 2px;
}

.wallHeader h3{
	display:inline-block;
	line-height:27px;
	padding-right:24px;
	background-position: right top;
	background-repeat:no-repeat;
}

#well .wallHeader h3{
	background-image: url(/images/face_smile.png);
}
#lessWell .wallHeader h3{
	background-image: url(/images/face_crying.png);
}
#puzzle .wallHeader h3{
	background-image: url(/images/face_confused.png);
}
#idea .wallHeader h3{
	background-image: url(/images/face_angel.png);
}

.addSticky{
	height: 24px;
	width: 24px;
	display:block;
	float:right;
	background-image: url(/images/note_add.png);
	background-size: cover;
	margin-right: 2px;
	cursor: pointer;
}

.wallBody{
}

.sticky {
	display:inline-block;
	width: 47%;
	margin-top:5px;
	height: 70px;
	background-color: yellow;
	vertical-align:top;
	border-radius: 10px 10px 20px 10px;
	box-shadow: 2px 2px 2px gray;
	position: relative;
	padding: 2px;
}

.stickyCount {
	position: absolute;
	bottom: 2%;
	left: 10%;
}

#dialogAddSticky {
    position:absolute;
    width:400px;
    height:300px;
    left:50%;
    top:50%;
    margin-left:-200px;
    margin-top:-200px;
    z-index:1;
    background-color:green;
    border-radius:20px 20px 30px 20px;
    box-shadow:4px 4px 4px gray;
    display:none;
}

footer {
	text-align: center;
}
