body {
    background: url(../images/low_contrast_linen.png) repeat left top;
}

.wrap {
    margin: 0 20px;
}

header {
    margin-bottom: 20px;
    background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#111));
    background: -moz-linear-gradient(top, #333, #111);
    border-bottom: 1px solid #000;
}

header .headerWrap {
    text-align: right;
    margin: 0 auto;
    width: 94%;
    height: 40px;
    line-height: 40px;
    position: relative;
}

header #logo {
    float: left;
    height: 30px;
    width: auto;
    margin-right: 10px;
    margin-top: 5px;
}

header h2 {
    float: left;
    color: white;
}

header a {
    color: #BABABA;
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}

header a:hover, #historyHeaderButton.active {
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#222));
}

#historyHeaderButton span {
    padding-right: 11px;
    background: url(/images/arrow-down.png) no-repeat center right;
}

#historyDialog {
    display: none;
    background-color: #121212;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 2;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 1px 2px #555;
}

#historyDialog ul {

}

#historyDialog ul li {
    list-style: none;
}

#historyDialog ul li a {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 26px;
}

#historyDialog ul li a:hover {
    background: #444;
}

#historyDialog ul li:last-child a {
    border-radius: 0 0 8px 8px;
}

header .separator {
    color: #545454;
}

.brand {
    background: url(../images/stickies_icon_32.png) no-repeat left center;
    padding-left: 40px;
    font-size: 20px;
    margin: 0;
}

#sections {
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    background:url(../images/retina_dust.jpg) repeat left top;
}



#sections .section {
    border-left: 1px solid #CECEBF;
    min-height: 600px;
    padding: 10px;
}

#sections [class*="span"]:first-child{
    border-left: none;
}



.sectionHeader {
    text-align: center;
}

.sectionHeader h3 {
    display: inline-block;
    line-height: 34px;
    padding-left: 36px;
    background-position: left top;
    background-repeat: no-repeat;
}

#well .sectionHeader h3 {
    background-image: url(/images/face-well.png);
}

#lessWell .sectionHeader h3 {
    background-image: url(/images/face-less-well.png);
}

#puzzle .sectionHeader h3 {
    background-image: url(/images/face-puzzle.png);
}

#idea .sectionHeader h3 {
    background-image: url(/images/face-idea.png);
}

.addStickyButton {
    height: 24px;
    width: 24px;
    display: block;
    float: right;
    background-image: url(/images/note_add.png);
    background-size: cover;
    margin-right: 2px;
    cursor: pointer;
}

.sectionBody {
    text-align: left;
}

.sticky {
    display: inline-block;
    width: 43%;
    margin-top: 5px;
    margin-left: 5px;
    height: 70px;
    background-color: #FEF791;
    vertical-align: top;
    border-radius: 5px 5px 10px 5px;
    box-shadow: 1px 1px 3px #ccc;
    position: relative;
    padding: 5px;
}

.stickyCount {
    position: absolute;
    bottom: 2%;
    left: 10%;
}

#stickyDialog {
    position: absolute;
    padding: 10px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
    z-index: 1;
    background-color: #FFFF7A;
    border-radius: 20px 20px 30px 20px;
    box-shadow: 0px 0px 10px gray;
    display: none;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFF7A), to(#FFFF00));
    background: -moz-gradient(linear, 0 0, 0 100%, from(#FFFF7A), to(#FFFF00));
    z-index: 2;
}

#stickyDialog textarea {
    min-height: 300px;
    min-width: 400px;
    background: none;
    border: none;
    line-height: 30px;
    font-size: 20px;
}

#stickyDialog textarea:focus {
    background-color: #FFFFAD;
}

.buttons {
    padding: 10px 10px 0 0;
    text-align: right;
}

.buttons button {
    height: 30px;
    width: 60px;
    margin-left: 10px;
}

#modal {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.4;
    z-index: 1;
}

footer {
    text-align: center;
}
