* {
	padding: 0;
	margin: 0;
}
h1, h2, h3 {
	display: inline;
}

body {
	min-width: 1000px;
  width: 1002px;
  margin: 0 auto;
}
header {
	text-align: right;
	margin-bottom: 5px;
  padding: 5px 0;
}
header div#logo {
	float: left;
	height: 30px;
}

header div#logo img {
  height: 100%;
  width: auto;
}

#walls {
	margin:0 auto;
	text-align: center;
	border: 5px solid gray;
	border-radius: 10px;
}

.wall {
	width: 24%;
	height:600px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	display: inline-block;
	vertical-align: top;
}
.wallHeader{
	padding-top: 2px;
}

.wallHeader h3{
	display:inline-block;
	line-height:27px;
	padding-right:24px;
	background-position: right top;
	background-repeat:no-repeat;
}

#well .wallHeader h3{
	background-image: url(/images/face_smile.png);
}
#lessWell .wallHeader h3{
	background-image: url(/images/face_crying.png);
}
#puzzle .wallHeader h3{
	background-image: url(/images/face_confused.png);
}
#idea .wallHeader h3{
	background-image: url(/images/face_angel.png);
}

.addSticky{
	height: 24px;
	width: 24px;
	display:block;
	float:right;
	background-image: url(/images/note_add.png);
	background-size: cover;
	margin-right: 2px;
	cursor: pointer;
}

.wallBody{
}

.sticky {
	display:inline-block;
	width: 47%;
	margin-top:5px;
	height: 70px;
	background-color: yellow;
	vertical-align:top;
	border-radius: 10px 10px 20px 10px;
	box-shadow: 2px 2px 2px gray;
	position: relative;
	padding: 2px;
}

.stickyCount {
	position: absolute;
	bottom: 2%;
	left: 10%;
}

footer {
	text-align: center;
}
